<header>
  <div class="item header" *ngIf="loading">
      <a class="header-item" href="home">
          <img src="assets/img/logo-200.png" >
      </a> 
      <a class="header-item" href="home">
        <span class="hideMax">App</span>
        <span class="hideMini">{{ titleApp }}</span>
      </a>
      <a class="header-item" aria-current="page" routerLink="favorite">
        <span class="hideMax">FAV</span>
        <span class="hideMini">Favorite</span>
      </a>
      <!-- <a class="header-item" routerLink="search">
        <span class="hideMax">SEa</span>
        <span class="hideMini">Search</span>
      </a> -->
      <a class="header-item" routerLink="me">
        <span class="hideMax">I am</span>
        <span class="hideMini">{{ user['display_name'] }}</span>
      </a>
      <a class="header-item" routerLink="index" >
        <span class="hideMax">Bye</span>
        <span class="hideMini">Log Out</span>
      </a>
  </div>
</header>