<h4>My Favorites</h4>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Album</th>
      <th>Track</th>
      <th>Preview</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of favorite">
        <td>
            <img [src]="track.album.images | noimage " 
                alt=""
                class="img-thumb">
        </td>
        <td>{{ track.album.name }}</td>
        <td>{{ track.name }}</td>
        <td>
            <!-- <audio [src]="track.preview_url"
                controls></audio> -->
            <iframe 
                [src]="track.id | domseguro :'https://open.spotify.com/embed/track/'" 
                width="300" 
                height="80" 
                frameborder="0" 
                allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </tr>
  </tbody>
</table>

<hr>

<h4>My Playlists</h4>
<ol class="list-group list-group-numbered" *ngIf="loadPl">
    <li *ngFor="let list of playlist" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ list.name }}</div>
          Description: {{ list.description }}
        </div>
        <span class="badge bg-primary rounded-pill">Tracks: {{ list.tracks.total }}</span>
    </li>
</ol>