<h4 class="favorite">My Favorites</h4>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Album</th>
      <th>Track</th>
      <th>Preview</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of favorite">
        <td class="table-hide-1">
            <img [src]="track.track.album.images | noimage " 
                alt=""
                class="img-thumb">
        </td>
        <td class="table-hide-2">{{ track.track.album.name }}</td>
        <td class="table-hide-3">{{ track.track.name }}</td>
        <td>
            <!-- <audio [src]="track.preview_url"
                controls></audio> -->
            <iframe 
                [src]="track.track.id | domseguro :'https://open.spotify.com/embed/track/'" 
                width="300" 
                height="80" 
                frameborder="0" 
                allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
    </tr>
  </tbody>
</table>
