
<div class="card">
    <div *ngFor="let item of items" 
        class="card-item" >
        <img [src]="item.images | noimage " 
            class="" 
            alt="...">
        <h3>{{ item.name }} </h3>
        <p>&nbsp;</p>
        <p>
            <span *ngFor="let artist of item.artists" 
                class="puntero card-item-artista"
                (click)="showArtist(artist)">
                {{ artist.name }}
            </span>
            <span *ngIf="item.type === 'artist'" 
                class="puntero card-item-artista"
                (click)="showArtist(item)">
                {{ item.name }}
            </span>
        </p>
        <p>&nbsp;</p>
    </div>
</div>
